pandas
requests
beautifulsoup4
numpy
# openpyxl # Si fueras a leer/escribir Excel, no necesario aquí para PowerBI con SQLite
# sqlalchemy # Si usaras to_sql con BDs más complejas, no estrictamente para SQLite con pandas